@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
body {
  font-family: "Be Vietnam Pro", sans-serif;
  background-color: #e6eaed;
}
.container {
  width: 100%;
  max-width: 1200px;
  height: 100vh;
  margin-right: auto;
  margin-left: auto;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  margin-bottom: 60px;
}
.navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar ul li a {
  margin-right: 30px;
  padding-bottom: 5px;
  color: #000000;
  opacity: 0.5;
  font-weight: 500;
  font-size: 14px;
  border-bottom: 2px solid transparent;
  transition: all 0.4s;
  display: inline-block;
}
.navbar ul li a:hover {
  opacity: 1;
  border-bottom: 2px solid #8f8dea;
}
.cta-and-search {
  display: flex;
  justify-content: center;
  align-items: center;
}
.search {
  display: flex;
  justify-content: center;
  align-items: center;
}
#search {
  background: none;
  outline: none;
  border: 1px solid #292930;
  padding: 15px;
  display: none;
}
.active{
    display: inherit !important;
}
.search img {
  cursor: pointer;
  margin-right: 30px;
  display: block;
}
.cta-and-search a {
  background: #fd4c5c;
  color: #ffffff;
  font-size: 14px;
  padding: 15px 30px;
  border-radius: 50px;
  display: inline-block;
  transition: all .4s;
}
.cta-and-search a:hover{
    transform: scale(1.2);
}
.hero-section {
  display: flex;
}
.hero-text,
.hero-image-block {
  width: 50%;
  flex-basis: 50%;
}
.hero-text {
  padding-left: 20px;
}
.hero-text h1 {
  font-size: 66px;
  font-weight: 800;
  line-height: 80px;
  color: #292930;
  margin-bottom: 20px;
}
.hero-text p {
  font-size: 16px;
  line-height: 30px;
  color: #999fae;
  margin-bottom: 40px;
}
.hero-image-block {
  position: relative;
}
.hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero-cta {
  display: flex;
  align-items: center;
}
.main-cta {
  background: #fd4c5c;
  font-size: 18px;
  color: #ffffff;
  padding: 30px 40px;
  border-radius: 50px;
  margin-right: 30px;
  transition: all .4s;
}
.main-cta:hover{
    transform: scale(0.9);
}
.hero-sub-cta{
    transition: all .4s;
}
.hero-sub-cta:hover{
    transform: scale(1.2);
}
.hero-sub-cta img {
  width: 15px;
  height: 15px;
  object-fit: contain;
  margin-right: 10px;
}
.hero-sub-cta a {
  color: #999fae;
  font-size: 14px;
  font-weight: 500;
}
.floating-currency {
  display: inline-block;
  background: rgba(255, 255, 255, 0.5);
  border: 2px solid #ffffff;
  backdrop-filter: blur(4px);
  padding: 20px;
  border-radius: 15px;
  position: absolute;
  left: -16px;
  top: 56%;
  transform: translateX(-56%);
  cursor: pointer;
}
.arrow {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.floating-currency h2 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 15px;
}
.c-img-block img {
  width: 30px;
  height: 30px;
  margin: 5px;
  object-fit: contain;
}

.floating-service {
  display: inline-block;
  background: rgba(255, 255, 255, 0.5);
  border: 2px solid #ffffff;
  backdrop-filter: blur(4px);
  padding: 20px;
  border-radius: 15px;
  position: absolute;
  top: 140px;
  right: -40px;
  cursor: pointer;
}
.floating-service h2 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 15px;
}
.help-center-image {
  width: 100%;
  display: flex;
  justify-content: center;
}

.category {
  width: 100%;
  background-image: url(Shape.png);
  background-repeat: no-repeat;
  /* background-size: cover; */
  background-position: top;
  padding-top: 100px;
  padding-right: 70px;
  padding-left: 70px;
  padding-bottom: 90px;
  display: flex;
  position: relative;
  top: -150px;
}
.part {
  display: flex;
  align-items: center;
  margin: 20px;
}
.part .img-block {
  width: 120px;
  height: 120px;
}
.part img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  border-radius: 50%;
}
.content {
  color: #ffffff;
  margin-left: 15px;
}
.content h4 {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 20px;
}
.content a {
  display: inline-block;
  font-size: 12px;
  color: #fd4c5c;
  transition: all .4s;
}
.content a:hover{
    transform: translateY(-4px);
}
.footer-text{
    position: absolute;
    bottom: 10px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    left: 50%;
    transform: translateX(-50%);
}
.footer-text a{
    color: #fd4c5c;
}